@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

    /*sharpening*/
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-kerning: normal;
}

:root {
    --mainDarkBlue: #00001E;
    --mainDarkGreen: #036E37;
    --mainBlue: #07BFD1;
    --mainOffWhite: #FBF5F3;

    --mainLightGray: #c9c4c3;

    --mainDarkGray: #252323;

    --logoGreen: #15c55d;
    --logoBlue: #0485b9;

    --buttonGreen: #1ed94f;
    --buttonBlue: #33c9ff;

    --pink: #F433AB;
    --pinkPurple: #CB04A5;
    --mainBlack: #000807;

    --sizeBasic: 1em;
    --size0: 0.1082em;
    --size1: 0.1751em;
    --size2: 0.2833em;
    --size3: 0.4584em;
    --size4: 0.7417em;
    --size5: 1.2000em;
    --size6: 1.9416em;
    --size7: 3.1415em;
    --size8: 5.0830em;
    --size9: 8.2243em;
    --size10: 13.3072em;
}

/*
This is to remove the password reveal button I think.
::-ms-reveal {
    filter: invert(100%);
}
*/

.noSelect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}






.getStartedButton {
    height: auto;
    width: auto;
    padding: 16px;
    padding-left: 32px;
    padding-right: 32px;

    border: none;
    outline: none;

    cursor: pointer;

    background: linear-gradient(45deg, var(--buttonGreen), var(--buttonBlue));

    border-radius: 10px;

    text-decoration: none;
    font-weight: 600;
    letter-spacing: 0.05em;
    font-size: var(--size5);
    color: var(--mainBlack);

    font-family: Inconsolata;
    font-family: "Inconsolata", monospace;
    font-optical-sizing: auto;
    font-style: normal;

    vertical-align: middle;
}

.whiteButton {
    height: auto;
    width: auto;
    padding: 16px;
    padding-left: 32px;
    padding-right: 32px;

    border: 2px solid var(--mainOffWhite);
    outline: none;

    cursor: pointer;

    background: none;

    border-radius: 10px;

    text-decoration: none;
    font-weight: 600;
    letter-spacing: 0.05em;
    font-size: var(--size5);
    color: var(--mainOffWhite);

    font-family: Inconsolata;
    font-family: "Inconsolata", monospace;
    font-optical-sizing: auto;
    font-style: normal;

    vertical-align: middle;

    transition: 0.1s ease-in;
}

.whiteButton:hover {
    background-color: var(--mainOffWhite);
    color: var(--mainBlack);
}









header {
    position: fixed;
    top: 0;
    z-index: 1000;

    height: 80px;
    width: 100%;
    
    background: var(--mainBlack);

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 16px;
}

header .leftSection {
    height: 100%;
    width: 20%;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    padding-left: 16px;
}

header .leftSection h3 {
    text-decoration: none;
    font-weight: 400;
    font-size: var(--size6);
    color: var(--mainOffWhite);

    font-family: Inconsolata;
    font-family: "Inconsolata", monospace;
    font-optical-sizing: auto;
    font-style: normal;

    vertical-align: middle;

    cursor: pointer;
}

header .middleSection {
    height: 100%;
    width: 60%;

    display: flex;
    justify-content: center;
    align-items: center;
}

header .middleSection h3 {
    text-decoration: none;
    font-weight: 400;
    font-size: var(--size5);
    color: var(--mainOffWhite);

    font-family: Inconsolata;
    font-family: "Inconsolata", monospace;
    font-optical-sizing: auto;
    font-style: normal;

    vertical-align: middle;

    margin-right: 32px;

    cursor: pointer;

    transition: 0.1s ease-in;
}

header .middleSection h3:hover {
    color: var(--pink);
    margin-right: 40px;
    margin-left: 8px;
}

header .rightSection {
    height: 100%;
    width: 20%;

    display: flex;
    justify-content: flex-end;
    align-content: center;

    padding-right: 16px;
}







main .hero {
    position: relative;

    width: 100%;
    height: 100vh;

    background: var(--mainBlack);

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

main .hero .splineSection {
    position: absolute;

    top: 0;
    left: 0;

    height: 100%;
    width: 100%;
}

main .hero .leftSection {
    position: relative;

    height: 100%;
    width: 60%;

    pointer-events: none;
}

main .hero .rightSection {
    position: relative;

    height: 100%;
    width: 60%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    padding: 64px;

    pointer-events: none;
}

main .hero .rightSection h1 {
    text-decoration: none;
    font-weight: 400;
    font-size: var(--size8);
    color: var(--mainOffWhite);

    font-family: Inconsolata;
    font-family: "Inconsolata", monospace;
    font-optical-sizing: auto;
    font-style: normal;

    vertical-align: middle;

    margin-bottom: 0.4em;
}

main .hero .rightSection p {
    text-decoration: none;
    font-weight: 400;
    font-size: var(--size5);
    color: var(--mainOffWhite);

    width: 75%;

    font-family: Inconsolata;
    font-family: "Inconsolata", monospace;
    font-optical-sizing: auto;
    font-style: normal;

    vertical-align: middle;

    padding-left: 8px;

    line-height: 1.5em;

    margin-bottom: 1em;
}

main .hero .rightSection .buttons {
    position: relative;
    height: auto;
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

main .hero .rightSection .buttons button {
    pointer-events: all;
}









footer {
    position: relative;
    height: 60vh;
    width: 100%;

    background-color: var(--mainBlack);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

footer .horizontalRule {
    position: relative;
    height: 1px;
    width: 100%;

    background: var(--mainLightGray);
}

footer .topSection {
    position: relative;
    width: 100%;
    height: 75%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    padding: 32px;
}

footer .topSection .footerColumn {
    position: relative;
    width: 15%;
    height: 90%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    margin-right: 32px;
}

footer .topSection .footerColumn h2 {
    text-decoration: none;
    font-weight: 500;
    font-size: var(--size5);
    color: var(--mainOffWhite);

    font-family: Inconsolata;
    font-family: "Inconsolata", monospace;
    font-optical-sizing: auto;
    font-style: normal;

    vertical-align: middle;

    margin-right: 32px;

    cursor: pointer;

    padding-bottom: 0.7em;
}

footer .topSection .footerColumn h3 {
    text-decoration: none;
    font-weight: 300;
    font-size: var(--size5);
    color: var(--mainLightGray);

    font-family: Inconsolata;
    font-family: "Inconsolata", monospace;
    font-optical-sizing: auto;
    font-style: normal;

    vertical-align: middle;

    margin-right: 32px;

    cursor: pointer;

    transition: 0.1s ease-in;

    padding-bottom: 0.4em;

    cursor: pointer;
}

footer .topSection .footerColumn h3:hover {
    color: var(--mainOffWhite);
}

footer .topSection .footerColumn2 {
    position: relative;
    width: 15%;
    height: 90%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;

    margin-right: 32px;
}

footer .topSection .footerColumn2 h2 {
    text-decoration: none;
    font-weight: 400;
    font-size: var(--size6);
    color: var(--mainOffWhite);
    

    font-family: Inconsolata;
    font-family: "Inconsolata", monospace;
    font-optical-sizing: auto;
    font-style: normal;

    vertical-align: middle;

    margin-right: 32px;

    cursor: pointer;

    padding-bottom: 0.7em;
}



footer .bottomSection {
    position: relative;
    width: 100%;
    height: 25%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

footer .bottomSection .leftSection {
    height: 100%;
    width: 50%;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    padding: 16px;
    padding-left: 64px;
}

footer .bottomSection .leftSection h2 {
    text-decoration: none;
    font-weight: 500;
    font-size: var(--size5);
    color: var(--mainLightGray);

    font-family: Inconsolata;
    font-family: "Inconsolata", monospace;
    font-optical-sizing: auto;
    font-style: normal;

    vertical-align: middle;

    cursor: pointer;
}

footer .bottomSection .rightSection {
    height: 100%;
    width: 50%;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}