@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

    /*sharpening*/
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-kerning: normal;
}

:root {
    --mainBlack: #000807;
    --mainDarkBlue: #00001E;

    --mainOffWhite: #FBF5F3;

    --mainLightGray: #c9c4c3;
    --mainDarkGray: #252323;

    --logoGreen: #15c55d;
    --logoBlue: #0485b9;

    --buttonGreen: #1ed94f;
    --buttonBlue: #33c9ff;

    --pink: #F433AB;
    --pinkPurple: #CB04A5;
    --darkGreen: #036E37;
    --randomBlue: #07BFD1;

    --red: #ce2323;

    --sizeBasic: 1em;
    --size0: 0.1082em;
    --size1: 0.1751em;
    --size2: 0.2833em;
    --size3: 0.4584em;
    --size4: 0.7417em;
    --size5: 1.2000em;
    --size6: 1.9416em;
    --size7: 3.1415em;
    --size8: 5.0830em;
    --size9: 8.2243em;
    --size10: 13.3072em;
}

/*
This is to remove the password reveal button I think.
::-ms-reveal {
    filter: invert(100%);
}
*/

.noSelect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}






.getStartedButton {
    position: relative;

    height: auto;
    width: auto;
    padding: 16px;
    padding-left: 32px;
    padding-right: 32px;

    border: none;
    outline: none;

    cursor: pointer;

    background: linear-gradient(45deg, var(--buttonGreen), var(--buttonBlue));

    border-radius: 10px;

    text-decoration: none;
    font-weight: 600;
    letter-spacing: 0.05em;
    font-size: var(--size5);
    color: var(--mainBlack);

    font-family: Inconsolata;
    font-family: "Inconsolata", monospace;
    font-optical-sizing: auto;
    font-style: normal;

    vertical-align: middle;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: 0.1s ease-in;

    min-width: fit-content;
}

.getStartedButton:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    box-shadow: 0.25em -0.25em 1em 0 var(--buttonBlue), -0.25em 0.25em 1em 0 var(--buttonGreen);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.getStartedButton:hover::after {
    opacity: 0.75;
}

.getStartedButton:hover {
    color: var(--mainOffWhite);
}


.whiteButton {
    height: auto;
    width: auto;
    padding: 16px;
    padding-left: 32px;
    padding-right: 32px;

    border: 2px solid var(--mainOffWhite);
    outline: none;

    cursor: pointer;

    background: none;

    border-radius: 10px;

    text-decoration: none;
    font-weight: 600;
    letter-spacing: 0.05em;
    font-size: var(--size5);
    color: var(--mainOffWhite);

    font-family: Inconsolata;
    font-family: "Inconsolata", monospace;
    font-optical-sizing: auto;
    font-style: normal;

    vertical-align: middle;

    transition: 0.1s ease-in;

    min-width: fit-content;
}

.whiteButton:hover {
    background-color: var(--mainOffWhite);
    color: var(--mainBlack);
}




.blackButton {
    height: auto;
    width: auto;
    padding: 16px;
    padding-left: 32px;
    padding-right: 32px;

    border: 2px solid var(--mainBlack);
    outline: none;

    cursor: pointer;

    background: none;

    border-radius: 10px;

    text-decoration: none;
    font-weight: 600;
    letter-spacing: 0.05em;
    font-size: var(--size5);
    color: var(--mainBlack);

    font-family: Inconsolata;
    font-family: "Inconsolata", monospace;
    font-optical-sizing: auto;
    font-style: normal;

    vertical-align: middle;

    transition: 0.1s ease-in;

    min-width: fit-content;
}

.blackButton:hover {
    background-color: var(--mainBlack);
    color: var(--mainOffWhite);
}





.smallRedButton {
    height: auto;
    width: auto;
    padding: 8px;
    padding-left: 16px;
    padding-right: 16px;

    border: 2px solid var(--red);
    outline: none;

    cursor: pointer;

    background: none;

    border-radius: 10px;

    text-decoration: none;
    font-weight: 600;
    letter-spacing: 0.05em;
    font-size: var(--size5);
    color: var(--mainOffWhite);

    font-family: Inconsolata;
    font-family: "Inconsolata", monospace;
    font-optical-sizing: auto;
    font-style: normal;

    vertical-align: middle;

    transition: 0.1s ease-in;

    min-width: fit-content;
}

.smallRedButton:hover {
    background-color: var(--red);
    color: var(--mainOffWhite);
}


.smallWhiteButton {
    height: auto;
    width: auto;
    padding: 8px;
    padding-left: 16px;
    padding-right: 16px;

    border: 2px solid var(--);
    outline: none;

    cursor: pointer;

    background: none;

    border-radius: 10px;

    text-decoration: none;
    font-weight: 600;
    letter-spacing: 0.05em;
    font-size: var(--size5);
    color: var(--mainOffWhite);

    font-family: Inconsolata;
    font-family: "Inconsolata", monospace;
    font-optical-sizing: auto;
    font-style: normal;

    vertical-align: middle;

    transition: 0.1s ease-in;

    min-width: fit-content;
}

.smallWhiteButton:hover {
    background-color: var(--mainOffWhite);
    color: var(--mainBlack);
}

.smallBlackButton {
    height: auto;
    width: auto;
    padding: 8px;
    padding-left: 16px;
    padding-right: 16px;

    border: 2px solid var(--mainBlack);
    outline: none;

    cursor: pointer;

    background: none;

    border-radius: 10px;

    text-decoration: none;
    font-weight: 600;
    letter-spacing: 0.05em;
    font-size: var(--size5);
    color: var(--mainBlack);

    font-family: Inconsolata;
    font-family: "Inconsolata", monospace;
    font-optical-sizing: auto;
    font-style: normal;

    vertical-align: middle;

    transition: 0.1s ease-in;

    min-width: fit-content;
}

.smallBlackButton:hover {
    background-color: var(--mainBlack);
    color: var(--mainOffWhite);
}

.pinkButton {
    height: auto;
    width: auto;
    padding: 16px;
    padding-left: 32px;
    padding-right: 32px;

    border: 2px solid var(--pink);
    outline: none;

    cursor: pointer;

    background: none;

    border-radius: 10px;

    text-decoration: none;
    font-weight: 600;
    letter-spacing: 0.05em;
    font-size: var(--size5);
    color: var(--mainOffWhite);

    font-family: Inconsolata;
    font-family: "Inconsolata", monospace;
    font-optical-sizing: auto;
    font-style: normal;

    vertical-align: middle;

    transition: 0.1s ease-in;

    min-width: fit-content;
}

.pinkButton:hover {
    background-color: var(--pink);
    color: var(--mainOffWhite);
}








.basicWhiteText {
    text-decoration: none;
    font-weight: 400;
    font-size: var(--size5);
    color: var(--mainOffWhite);

    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;

    line-height: 1em;

    vertical-align: middle;
}

.basicGrayText {
    text-decoration: none;
    font-weight: 300;
    font-size: var(--size5);
    color: var(--mainLightGray);

    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;

    line-height: 1.5em;

    vertical-align: middle;
}

.titleWhiteText {
    text-decoration: none;
    font-weight: 500;
    font-size: var(--size6);
    color: var(--mainOffWhite);

    font-family: Inconsolata;
    font-family: "Inconsolata", monospace;
    font-optical-sizing: auto;
    font-style: normal;

    vertical-align: middle;
}

.titleGrayText {
    text-decoration: none;
    font-weight: 400;
    font-size: var(--size6);
    color: var(--mainLightGray);

    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;

    vertical-align: middle;
}

.largeWhiteText {
    text-decoration: none;
    font-weight: 500;
    font-size: var(--size7);
    color: var(--mainOffWhite);

    letter-spacing: 0.01em;

    font-family: Inconsolata;
    font-family: "Inconsolata", monospace;
    font-optical-sizing: auto;
    font-style: normal;

    vertical-align: middle;
}




@supports(scrollbar-color: var(--mainOffWhite) var(--mainDarkGray)) {
    * {
        scrollbar-color: var(--mainOffWhite) var(--mainDarkGray);
        scrollbar-width: thin;
    }
}

::-webkit-scrollbar {
    width: 0.5em;
}

::-webkit-scrollbar-track {
    background: var(--mainDarkGray);
}

::-webkit-scrollbar-thumb {
    background: var(--mainOffWhite);
    border-radius: 10px;
}





.bannerNotif {
    position: fixed;
    top: -48px;
    height: 48px;
    width: 100%;
    z-index: 999;

    background-color: var(--mainOffWhite);

    display: flex;
    justify-content: space-between;
    align-items: center;

    transition: 0.1s ease-in;
}

.bannerNotif h3 {
    margin-left: 32px;
    margin-top: 2px;
    color: var(--mainBlack);
}

.bannerNotif img {
    height: 100%;
    aspect-ratio: 1;
    object-fit: contain;

    padding: 8px;
    padding-right: 0px;
    margin-right: 32px;

    cursor: pointer;
}


.header {
    position: fixed;
    top: 0px;
    z-index: 1000;

    height: 80px;
    width: 100%;
    
    background: var(--mainBlack);

    display: flex;
    justify-content: space-between;
    align-items: center;

    transition: 0.1s ease-in;
}

.header .leftSection {
    height: 100%;
    width: 20%;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    padding-left: 32px;
    padding-top: 16px;
    padding-bottom: 16px;

}

.header .leftSection h3 {
    cursor: pointer;
}

.header .middleSection {
    height: 100%;
    width: 60%;

    display: flex;
    justify-content: center;
    align-items: center;
}

header .middleSection .navElement {
    height: 100%;
    transition: 0.1s ease-in;

    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.header .middleSection .navElement .pinkLink {
    text-decoration: none;
    font-weight: 400;
    font-size: var(--size5);
    color: var(--mainOffWhite);

    font-family: Inconsolata;
    font-family: "Inconsolata", monospace;
    font-optical-sizing: auto;
    font-style: normal;

    vertical-align: middle;

    margin-right: 32px;

    cursor: pointer;

    transition: 0.1s ease-in;
}

.header .middleSection .navElement:hover {
    margin-right: 16px;
    margin-left: 8px;
}

.header .middleSection .navElement:hover .pinkLink {
    color: var(--pink);
}

.header .middleSection img {
    height: 100%;
    aspect-ratio: 1;
    object-fit: contain;

    display: none;

    cursor: pointer;

    padding: 18px;
}

.header .rightSection {
    height: 100%;
    width: 20%;

    display: flex;
    justify-content: flex-end;
    align-content: center;

    padding-right: 32px;
    padding-top: 16px;
    padding-bottom: 16px;
}









.navMenu {
    position: absolute;
    z-index: 999;
    width: auto;
    height: auto;

    top: 80px;
    margin-left: -32px;

    border-bottom: 2px solid var(--mainOffWhite);

    background-color: var(--mainBlack);

    padding: 32px;
    display: none;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.navMenu .navColumn {
    position: relative;
    width: 200px;
    height: auto;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    margin-right: 32px;
}

.navMenu .navColumn h2 {
    margin-bottom: 0.5em;
}

.navMenu .navColumn:last-of-type {
    margin-right: 0px;
}












.mobileNav {
    position: fixed;
    z-index: 998;
    height: calc(100svh - 80px);
    width: 100%;

    top: -100%;

    background-color: var(--mainBlack);

    overflow: hidden;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    transition: 0.1s ease-in-out;
}

@keyframes mobileNavOpenAnim {
    from {top: -100%;}
    to {top: 80px;}
}

@keyframes mobileNavCloseAnim {
    from {top: 80px;}
    to {top: -100%;}
}

.mobileNavOpen {
    animation-name: mobileNavOpenAnim;
    animation-duration: 0.25s;
    animation-fill-mode: forwards;
}

.mobileNavClose {
    animation-name: mobileNavCloseAnim;
    animation-duration: 0.25s;
    animation-fill-mode: forwards;
}

.mobileNav .accountSection {
    height: auto;
    width: 100%;

    padding: 32px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.mobileNav .accountSection .accountBox {
    position: relative;

    width: 100%;
    height: 80px;

    border: 2px solid var(--pink);

    border-radius: 10px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mobileNav .searchSection {
    height: auto;
    width: 100%;

    padding: 32px;

    padding-top: 16px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.mobileNav .searchSection .searchBar {
    position: relative;

    width: 100%;
    height: 64px;

    border: 2px solid var(--mainOffWhite);

    border-radius: 10px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mobileNav .searchSection .searchBar input {
    width: 100%;
    height: 100%;

    background: none;

    border: none;
    outline: none;

    text-decoration: none;
    font-weight: 400;
    font-size: var(--size6);
    color: var(--mainOffWhite);

    font-family: Inconsolata;
    font-family: "Inconsolata", monospace;
    font-optical-sizing: auto;
    font-style: normal;

    vertical-align: middle;

    transition: 0.05s ease-in;

    padding-left: 16px;
    padding-right: 8px;
}

.mobileNav .searchSection .searchBar img {
    height: 100%;
    aspect-ratio: 1;

    padding: 10px;

    object-fit: contain;

    cursor: pointer;
}

.mobileNav .searchSection .searchBar input::placeholder {
    text-decoration: none;
    font-weight: 400;
    color: var(--mainLightGray);

    font-family: Inconsolata;
    font-family: "Inconsolata", monospace;
    font-optical-sizing: auto;
    font-style: normal;

    vertical-align: middle;
}


.mobileNav .navigationSection {
    position: relative;

    height: auto;
    flex-grow: 1;
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;

    transition: 0.2s ease-out;
}

.mobileNav .navigationSection .mainLinks {
    position: absolute;

    height: auto;
    width: 100%;

    left: 0;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    transition: 0.2s ease-out;
}

.mobileNav .navigationSection .extraLinks {
    position: absolute;

    height: 100%;
    width: 100%;

    left: 100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    transition: 0.2s ease-out;
}

.mobileNav .navigationSection .mobileLink {
    position: relative;

    height: 60px;
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 8px;
    padding-left: 32px;
    padding-right: 32px;

    cursor: pointer;
}

.mobileNav .navigationSection .borderBottom {
    border-bottom: 2px solid var(--mainLightGray);
}

.mobileNav .navigationSection .borderTop {
    border-top: 2px solid var(--mainLightGray);
}

.mobileNav .navigationSection .clickableImage {
    height: 30px;
    width: 30px;

    object-fit: contain;
    transform: rotate(180deg);

    margin-right: 8px;

    transition: 0.1s ease-in;
}

.mobileNav .navigationSection .accountLink .clickableImage {
    height: 33px;
    width: 33px;
}

.mobileNav .navigationSection .backwardsClickableImage {
    transform: rotate(0deg);
}

.mobileNav .navigationSection .mobileLink h2 {
    text-decoration: none;
    font-weight: 400;
    font-size: var(--size6);
    color: var(--mainOffWhite);

    font-family: Inconsolata;
    font-family: "Inconsolata", monospace;
    font-optical-sizing: auto;
    font-style: normal;

    vertical-align: middle;

    transition: 0.05s ease-in;
}

.mobileNav .navigationSection .mobileLink:hover h2 {
    color: var(--pink);
}

.mobileNav .navigationSection .color1 {
    background: linear-gradient(135deg, var(--buttonBlue), var(--buttonGreen));
}

.mobileNav .navigationSection .color1 h2 {
    font-weight: 500;
    color: var(--mainBlack);
}

.mobileNav .navigationSection .color1:hover h2 {
    font-weight: 500;
    color: var(--mainBlack);
}






.cookiesNotification {
    height: auto;
    width: auto;

    position: fixed;
    left: 64px;
    bottom: 64px;

    z-index: 996;

    background-color: var(--mainOffWhite);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.cookiesNotification .computerHeader {
    height: 32px;
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 4px;
    padding-left: 16px;
    padding-right: 16px;

    border-bottom: 2px solid var(--mainBlack);
}

.cookiesNotification .computerHeader h5 {
    font-size: var(--size4);
}

.cookiesNotification .computerHeader img {
    height: 100%;
    aspect-ratio: 1;

    object-fit: contain;

    cursor: pointer;
}

.cookiesNotification .mainNotification {
    height: calc(100% - 32px);
    width: 100%;

    padding: 16px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.cookiesNotification .mainNotification h2 {
    color: var(--mainBlack);
    margin-bottom: 0.5em;
    width: 400px;
}

.cookiesNotification .mainNotification h3 {
    color: var(--mainBlack);
    margin-bottom: 1em;
    width: 400px;
}

.cookiesNotification .mainNotification .buttonsBox {
    height: auto;
    width: auto;
    display: flex;
    flex-direction: row;
}

.cookiesNotification .mainNotification .buttonsBox button {
    margin-right: 16px;
}






.toastNotification {
    height: 132px;
    width: 800px;

    position: fixed;
    left: calc(50% - 400px);
    top: 138px;

    z-index: 996;

    background-color: var(--mainOffWhite);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.toastNotification .computerHeader {
    height: 32px;
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 4px;
    padding-left: 16px;
    padding-right: 16px;

    border-bottom: 2px solid var(--mainBlack);
}

.toastNotification .computerHeader h5 {
    font-size: var(--size4);
}

.toastNotification .computerHeader img {
    height: 100%;
    aspect-ratio: 1;

    object-fit: contain;

    cursor: pointer;
}

.toastNotification .mainNotification {
    height: calc(100% - 32px);
    width: 100%;

    padding: 16px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.toastNotification .mainNotification .leftSection {
    height: 100%;
    width: 80%;

    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.toastNotification .mainNotification .leftSection img {
    height: 100%;
    aspect-ratio: 1;

    object-fit: contain;

    margin-right: 16px;
}

.toastNotification .mainNotification .leftSection h2 {
    color: var(--mainBlack);
}

.toastNotification .mainNotification .rightSection {
    height: 100%;
    width: auto;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
}

.toastNotification .mainNotification .rightSection button {
    margin-left: 16px;
}













main {
    position: relative;
    background: var(--mainBlack);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    overflow: hidden;
}

main .hero {
    position: relative;

    width: 100%;

    height: 80vh;
    height: 80svh;

    background: var(--mainBlack);

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    border-bottom: 2px solid #000000;
}

main .hero .splineSection {
    position: absolute;

    top: 0;
    left: 0;

    height: 100%;
    width: 100%;
}

main .hero .leftSection {
    position: relative;

    height: 100%;
    width: 40%;

    pointer-events: none;
}

main .hero .rightSection {
    position: relative;

    height: 100%;
    width: 60%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    padding: 64px;

    pointer-events: none;
}

main .hero .rightSection h1 {
    text-decoration: none;
    font-weight: 400;
    font-size: var(--size8);
    color: var(--mainOffWhite);

    font-family: Inconsolata;
    font-family: "Inconsolata", monospace;
    font-optical-sizing: auto;
    font-style: normal;

    vertical-align: middle;

    margin-bottom: 0.4em;

    letter-spacing: 0.01em;

    margin-left: 6px;
}

main .hero .rightSection p {
    width: 75%;

    padding-left: 8px;

    line-height: 1.5em;

    margin-bottom: 1em;
}

main .hero .rightSection .buttons {
    position: relative;
    height: auto;
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

main .hero .rightSection .buttons button {
    pointer-events: all;
}






main .descriptionSection {
    position: relative;
    height: auto;
    width: 80%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    margin-top: 32px;

    background: var(--mainBlack);
}

main .descriptionSection .descriptionContent {
    position: relative;
    height: auto;
    width: 40%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;

    margin-right: 64px;

    padding-top: 8px;

    opacity: 1;
}

main .descriptionSection .descriptionContent h2 {
    margin-bottom: 0.5em;
}

main .descriptionSection .descriptionContent p {
    width: 75%;
    margin-bottom: 1em;
}

main .descriptionSection .descriptionContent button {
    margin-top: 1em;
}

main .descriptionSection .descriptionImage {
    position: relative;
    height: 550px;
    width: 60%;

    display: flex;
    justify-content: flex-end;
    align-items: center;
}

main .descriptionSection .descriptionImage img {
    position: relative;
    height: 100%;
    width: auto;

    object-fit: cover;

    border-radius: 10px;

    pointer-events: none;
}



main .statsSection {
    position: relative;
    height: auto;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    overflow: hidden;

    margin-top: 256px;
}

main .statsSection .statsBox {
    position: relative;
    height: 200px;
    width: 80%;

    overflow: hidden;

    background: none;

    border: 2px solid var(--mainOffWhite);
    border-radius: 10px;

    margin-bottom: 64px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

main .statsSection .statsBox:nth-child(1) {
    border: 2px solid var(--buttonBlue);
}

main .statsSection .statsBox:nth-child(2) {
    border: 2px solid var(--buttonGreen);
}

main .statsSection .statsBox:nth-child(3) {
    border: 2px solid (--mainOffWhite);
}

main .statsSection .statsBox:nth-child(4) {
    border: 2px solid var(--pink);
    margin-bottom: 0px;
}

main .statsSection .statsBox .leftStats {
    height: 100%;
    width: 50%;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    padding: 32px;
}

main .statsSection .statsBox .leftStats img {
    height: 100%;
    aspect-ratio: 1;

    object-fit: contain;

    margin-right: 32px;
}

main .statsSection .statsBox .leftStats .bigText {
    text-decoration: none;
    font-weight: 500;
    font-size: var(--size9);
    color: var(--mainOffWhite);

    font-family: Inconsolata;
    font-family: "Inconsolata", monospace;
    font-optical-sizing: auto;
    font-style: normal;

    vertical-align: middle;

    margin-right: 32px;
}




main .cssSection {
    position: relative;
    height: fit-content;
    width: 80%;

    margin-top: 256px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

main .cssSection .cssLeftSection {
    position: relative;
    height: 100%;
    width: 50%;
    margin-right: 32px;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

main .cssLeftSection .cssText {
    height: fit-content;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    margin-top: 8px;

    padding-right: 32px;
}

main .cssLeftSection .cssText h2 {
    margin-bottom: 0.5em;
}

main .cssLeftSection .cssText p {
    margin-bottom: 0.5em;
}

main .cssLeftSection .cssButtonBox {
    height: 200px;
    width: 100%;

    overflow: hidden;

    border-radius: 10px;

    display: flex;
    justify-content: flex-start;
    align-items: center;
}

main .cssLeftSection .cssButtonBox button {
    height: 60px;
    width: 180px;

    border-radius: 10px;

    outline: none;
    border: 2px solid white;
    background-color: black;

    color: white;

    font-family: Inconsolata;
    font-family: "Inconsolata", monospace;
    font-optical-sizing: auto;
    font-style: normal;

    font-size: 1.25em;

    cursor: pointer;

    transition: 0.1s ease-in;
}

main .cssSection .cssRightSection {
    position: relative;

    height: max-content;
    width: 50%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
;
}

main .cssRightSection .cssEditorHeader {
    height: 64px;
    width: 100%;

    background: none;
    border: 2px solid var(--mainOffWhite);

    border-radius: 10px;

    margin-bottom: 16px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 16px;
}

main .cssRightSection .cssEditorHeader .cssHeaderLeft {
    height: 100%;
    width: 50%;

    display: flex;
    justify-content: flex-start;
    align-items: center;
}

main .cssRightSection .cssEditorHeader .cssHeaderRight {
    height: 100%;
    width: 50%;

    display: flex;
    justify-content: flex-end;
    align-items: center;
}

main .cssRightSection .textEditor {
    height: auto;
    width: 100%;

    border-radius: 10px;

    background: none;

    border: 2px solid var(--mainOffWhite);

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    padding: 16px;
}

main .cssRightSection .cssLine {
    width: auto;
    height: auto;

    margin-top: 4px;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

main .cssRightSection .textEditor .cssLine h3 {
    font-family: Inconsolata;
    font-family: "Inconsolata", monospace;
    font-optical-sizing: auto;
    font-style: normal;
}

main .cssRightSection .cssLine input {
    background: none;

    width: 100px;

    text-decoration: none;
    font-weight: 400;
    font-size: var(--size5);
    color: var(--mainOffWhite);

    font-family: Inconsolata;
    font-family: "Inconsolata", monospace;
    font-optical-sizing: auto;
    font-style: normal;

    vertical-align: middle;

    padding-left: 4px;
    padding-right: 4px;

    padding-top: 2px;
    padding-bottom: 2px;

    margin-left: 4px;
    margin-right: 4px;
    margin-top: 4px;

    border: 2px solid var(--mainOffWhite);
    outline: none;

    border-radius: 10px;

}








main .cardSection {
    position: relative;

    width: 80%;
    height: auto;

    margin-top: 256px;

    background: var(--mainBlack);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    flex-wrap: wrap;
}

main .cardSection .card {
    position: relative;

    height: 650px;
    width: 350px;

    overflow: hidden;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    transition: 0.1s ease-in;

    margin-right: 32px;
    margin-bottom: 32px;
}

main .cardSection .card .imageHolder {
    position: relative;

    height: 60%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

main .cardSection .card .imageHolder img {
    position: relative;

    height: 100%;
    width: 100%;

    object-fit: cover;
    overflow: hidden;

    pointer-events: none;
}

main .cardSection .card .imageHolder .imageButton {
    position: absolute;
    bottom: 16px;
    right: 16px;

    height: auto;
    width: auto;

    background-color: var(--mainBlack);

    cursor: pointer;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    padding: 16px;

    border-radius: 10px;

    transition: 0.1s ease-in;
}

main .cardSection .card .imageHolder .imageButton:hover {
    transform: scale(1.03);
}

main .cardSection .card .imageHolder .imageButton h4 {
    margin-right: 16px;

    pointer-events: none;
}

main .cardSection .card .imageHolder .imageButton img {
    position: relative;
    height: 32px;
    width: 32px;

    transform: rotate(180deg);

    object-fit: fill;

    pointer-events: none;
}

main .cardSection .card .cardInformation {
    position: relative;

    height: 40%;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    padding: 32px;
}

main .cardSection .card .cardInformation h2 {
    margin-bottom: 0.3em;
}









footer {
    position: relative;
    height: auto;
    width: 100%;

    padding-top: 256px;

    background-color: var(--mainBlack);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

footer .horizontalRule {
    position: relative;
    height: 1px;
    width: 100%;

    background: var(--mainLightGray);
}

footer .topSection {
    position: relative;
    width: 100%;
    height: 75%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;

    flex-wrap: wrap;

    padding: 64px;
}

footer .topSection .footerColumn {
    position: relative;
    width: 200px;
    height: auto;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    margin-right: 16px;
    margin-bottom: 32px;
}

footer .topSection .footerColumn h2 {
    font-weight: 500;

    margin-right: 32px;

    padding-bottom: 0.7em;
}

footer .topSection .footerColumn h3 {
    transition: 0.1s ease-in;

    padding-bottom: 0.4em;

    cursor: pointer;
}

footer .topSection .footerColumn h3:hover {
    color: var(--mainOffWhite);
}

footer .topSection .footerColumn2 h2 {
    margin-right: 32px;

    padding-bottom: 0.7em;
}



footer .bottomSection {
    position: relative;
    width: 100%;
    height: 25%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

footer .bottomSection .leftSection {
    height: 100%;
    width: 50%;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    padding: 32px;
    padding-left: 64px;
}

footer .bottomSection .rightSection {
    height: 100%;
    width: 50%;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}











@media (max-width: 1832px) {
    main .gridSection {
        position: relative;
    
        height: 1000px;
        width: 1500px;
    
        margin-top: 64px;
        margin-bottom: 64px;
    
        display: grid;
    
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(6, 1fr);
        grid-template-areas: 
            "a k b b b"
            "d k b b b"
            "e e g g g"
            "e e f f f"
            "i i c c h"
            "j j c c h";
    
        grid-gap: 32px;
    
        padding: 64px;
    }
}

@media (max-width: 1532px) {
    main .gridSection {
        position: relative;
    
        height: 1200px;
        width: 1200px;
    
        margin-top: 64px;
        margin-bottom: 64px;
    
        display: grid;
    
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(6, 1fr);
        grid-template-areas: 
            "a k b b b"
            "d k b b b"
            "e e g g g"
            "e e f f f"
            "i i c c h"
            "j j c c h";
    
        grid-gap: 32px;
    
        padding: 64px;
    }

    .header .leftSection {
        width: 15%;
    }

    .header .rightSection {
        width: 20%;
    }

    .header .middleSection {
        width: 65%;
    }

    main .hero .leftSection {
        height: 100%;
        width: 30%;
    }
    
    main .hero .rightSection {
        height: 100%;
        width: 70%;
    }

    main .cardSection {
        justify-content: flex-start;
    }

    main .descriptionSection {
        width: 80%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    main .descriptionSection .descriptionContent {
        width: 100%;
        margin-right: 0px;
        margin-bottom: 64px;
    }

    main .descriptionSection .descriptionImage {
        position: relative;
        height: auto;
        width: 100%;
    
        display: flex;
        justify-content: flex-start;
        align-items: center;

        overflow: hidden;
    }
    
    main .descriptionSection .descriptionImage img {
        position: relative;
        height: 100%;
        width: 100%;
    
        object-fit: contain;
    
        border-radius: 10px;
    }
}

@media (max-width: 1400px) {
    main .descriptionSection {
        width: 80%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    main .descriptionSection .descriptionContent {
        width: 100%;
        margin-right: 0px;
        margin-bottom: 64px;
    }

    main .descriptionSection .descriptionImage {
        position: relative;
        height: auto;
        width: 100%;
    
        display: flex;
        justify-content: flex-start;
        align-items: center;

        overflow: hidden;
    }
    
    main .descriptionSection .descriptionImage img {
        position: relative;
        height: 100%;
        width: 100%;
    
        object-fit: contain;
    
        border-radius: 10px;
    }
}

@media (max-width: 1232px) {
    main .gridSection {
        position: relative;
    
        height: 1400px;
        width: 1000px;
    
        margin-top: 64px;
        margin-bottom: 64px;
    
        display: grid;
    
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(7, 1fr);
        grid-template-areas: 
            "a b b b"
            "d b b b"
            "e e k h"
            "e e k h"
            "i i c c"
            "j j c c"
            "g g f f";
    
        grid-gap: 32px;
    
        padding: 64px;
    }

    .header .middleSection h3 {
        display: none;
    }

    .header .leftSection {
        width: 50%;
    }

    .header .rightSection {
        display: none;
    }

    .header .middleSection {
        width: 50%;
        justify-content: flex-end;
    }

    .header .middleSection img {
        display: block;
    }

    main .hero .leftSection {
        height: 100%;
        width: 20%;
    }
    
    main .hero .rightSection {
        height: 100%;
        width: 80%;
    }

    main .cssSection {   
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
    
    main .cssSection .cssLeftSection {
        position: relative;
        height: auto;
        width: 100%;

        margin-bottom: 64px;
    }

    main .cssSection .cssRightSection {
        position: relative;
        height: auto;
        width: 100%;
    }
}

@media (max-width: 1032px) {
    main .gridSection {
        position: relative;
    
        height: 1500px;
        width: 900px;
    
        margin-top: 64px;
        margin-bottom: 64px;
    
        display: grid;
    
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(10, 1fr);
        grid-template-areas: 
            "b b b"
            "b b b"
            "a g g"
            "e e k"
            "e e k"
            "f f d"
            "c c c"
            "c c c"
            "i i h"
            "j j h";
    
        grid-gap: 32px;
    
        padding: 64px;
    }

    footer .bottomSection {
        width: 100%;
        height: auto;
    
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
    
    footer .bottomSection .leftSection {
        height: auto;
        width: 100%;
    }

    footer .bottomSection .rightSection {
        height: auto;
        width: 100%;
    }

    main .statsSection .statsBox {
        height: 100px;
        width: 80%;
    }

    main .statsSection .statsBox .leftStats img {
        height: 100%;
        aspect-ratio: 1/3;
    
        object-fit: cover;
    
        margin-right: 32px;
    }
    
    main .statsSection .statsBox .leftStats .bigText {
        font-size: var(--size7);
        margin-left: -8px;
    }

    main .statsSection .statsBox .leftStats h2 {
        font-size: var(--size6);
        margin-left: -8px;
    }

    :root {
        --size4: 0.6417em;
        --size5: 1.000em;
        --size6: 1.7416em;
        --size7: 2.7415em;
        --size8: 3em;
        --size9: 3em;
    }

    main .hero {
        height: 90vh;
        height: 90svh;
    }
}

@media (max-width: 932px) {
    main .gridSection {
        position: relative;
    
        height: 1500px;
        width: 600px;
    
        margin-top: 64px;
        margin-bottom: 64px;
    
        display: grid;
    
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(10, 1fr);
        grid-template-areas: 
            "b b b"
            "b b b"
            "a g g"
            "e e k"
            "e e k"
            "f f d"
            "c c c"
            "c c c"
            "i i h"
            "j j h";
    
        grid-gap: 32px;
    
        padding: 64px;
    }

    main .hero .leftSection {
        height: 100%;
        width: 0%;
    }
    
    main .hero .rightSection {
        height: 100%;
        width: 100%;

        justify-content: flex-end;

        padding: 48px;
    }

    .toastNotification {
        height: auto;
        width: 500px;
    
        position: fixed;
        left: calc(50% - 250px);
        top: 138px;
    
        z-index: 996;
    
        background-color: var(--mainOffWhite);
    
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
    }

    .toastNotification .mainNotification {
        height: calc(100% - 32px);
        width: 100%;
    
        padding: 16px;
    
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .toastNotification .mainNotification .leftSection {
        height: auto;
        width: 100%;
    
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    
    .toastNotification .mainNotification .leftSection img {
        height: 75px;
    }
    
    .toastNotification .mainNotification .rightSection {
        height: auto;
        width: 100%;

        margin-top: 16px;
    
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: flex-end;
    }

    .toastNotification .mainNotification .rightSection button {
        margin-right: 16px;
        margin-left: 0px;
    }

    .bannerNotif h3 {
        font-size: 0.9em;
    }
}

@media (max-width: 732px) {
    .cookiesNotification {
        height: auto;
        width: 100%;
    
        left: 0px;
        bottom: 0px;
    }

    .toastNotification {
        height: auto;
        width: 100%;
        left: 0px;
    }
}

@media only screen and (orientation: portrait) {
    .mobileNav {
        height: calc(100lvh - 80px);
    }
}

@media (max-height: 850px) {
    main .hero .leftSection {
        position: relative;
    
        height: 100%;
        width: 10%;
    
        pointer-events: none;
    }
    
    main .hero .rightSection {
        position: relative;
    
        height: 100%;
        width: 90%;
    
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
    
        padding: 64px;
    
        pointer-events: none;

    }

    main .hero {
        position: relative;
    
        width: 100%;
    
        height: 85vh;
        height: 85svh;
    
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    
        border-bottom: 2px solid #000000;
    }
}

@media (max-height: 650px) {
    main .hero .leftSection {
        position: relative;
    
        height: 100%;
        width: 10%;
    
        pointer-events: none;
    }
    
    main .hero .rightSection {
        position: relative;
    
        height: 100%;
        width: 90%;
    
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
    
        padding: 64px;

        padding-bottom: 32px;
    
        pointer-events: none;

    }

    main .descriptionSection {
        margin-top: 16px;
    }

    main .hero {
        height: 90vh;
        height: 90svh;
    }
}

@media (max-height: 590px) {
    :root {
        --size4: 0.6417em;
        --size5: 1.000em;
        --size6: 1.7416em;
        --size7: 3.5em;
        --size8: 3.5em;
        --size9: 3.5em;
    }
}

@media (max-width: 932px) {
    main .hero .leftSection {
        height: 100%;
        width: 0%;
    }
    
    main .hero .rightSection {
        height: 100%;
        width: 100%;

        justify-content: flex-end;

        padding: 48px;
    }
}




/*main .gridSection {
    position: relative;

    height: 800px;
    width: 1800px;

    margin-top: 256px;

    display: grid;

    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: 
        "a k b b b i i"
        "d k b b b j j"
        "e e g g h c c"
        "e e f f h c c";

    grid-gap: 32px;

    padding: 64px;
}

.gridItem {
    background-color: var(--mainDarkGray);
    border-radius: 10px;
    padding: 16px;

    overflow: hidden;

    min-width: 0;
}

.gridItem1 {
    grid-area: a;
}

.gridItem2 {
    grid-area: b;
    padding: 32px;

    display: flex;
    flex-direction: row;
}

.gridItem3 {
    grid-area: c;
}

.gridItem4 {
    grid-area: d;
}

.gridItem5 {
    grid-area: e;

    padding: 32px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
.gridItem6 {
    grid-area: f;
}
.gridItem7 {
    grid-area: g;

    padding: 32px;

    display: flex;
    flex-direction: row;
}

.gridItem8 {
    grid-area: h;
}

.gridItem9 {
    grid-area: i;
}

.gridItem10 {
    grid-area: j;
}

.gridItem11 {
    grid-area: k;
}

.gridItem12 {
    display: none;
    grid-area: l;
}

.bentoImageHorizontal {
    height: 100%;
    aspect-ratio: 1;

    object-fit: cover;

    border-radius: 10px;
}

.bentoImageVertical {
    width: 100%;
    height: 50%;

    object-fit: cover;

    border-radius: 10px;
}

.bentoTextboxRight {
    height: 100%;
    width: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    margin-left: 32px;
}

.bentoTextboxLeft {
    height: 100%;
    width: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    margin-right: 32px;
}*/







/*
main .scrollerSection {
    width: 100%;
    height: 50vh;

    margin-top: 256px;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    white-space: nowrap;

    overflow: hidden;

    padding: 32px;
}

main .scrollerSection:hover .scroller {
    animation-play-state: paused;
}

main .scrollerSection .scroller {
    height: 100%;
    width: auto;

    display: flex;
    flex-direction: row;

    animation: 30s slideCard infinite linear;
}

@keyframes slideCard {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(-100%);
    }
}

main .scrollerSection .scroller .scrollingCard {
    height: 100%;
    aspect-ratio: 1/1.4;

    background-color: var(--mainDarkGray);

    border-radius: 10px;

    margin-right: 32px;

    display: flex;
    flex-direction: column;

    overflow: hidden;

    white-space: wrap;
}

main .scrollerSection .scroller .scrollingCard .imageSection {
    width: 100%;
    height: 60%;

    display: flex;
    justify-content: center;
    align-items: center;
}

main .scrollerSection .scroller .scrollingCard .imageSection img {
    width: 100%;
    height: 100%;

    object-fit: cover;
}

main .scrollerSection .scroller .scrollingCard .detailsSection {
    position: relative;

    width: 100%;
    height: 40%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    padding: 16px;
}

main .scrollerSection .scroller .scrollingCard .detailsSection h2 {
    margin-bottom: 0.5em;
}
    */